body {
    background-image: url("Obrazek.jpg"), url("Obrazek.jpg");
    background-repeat: repeat-y, no-repeat;
    background-size: 100px;
    background-position: right;
    background-attachment: fixed;
    background-size: 17%;
}

#kontener {
    width: 1200px;
    padding: 20px;
    margin-right: auto;
    background-color: #FFF;
}