body {
    background-color: brown;
    color: white;
    text-align: center;
    margin: 20px;
}
fieldset {
    background-color: chocolate;
    color: white;
    text-align: center;
    font-family: "Bookman Old Style";
    width: 50%;
    text-align: center;
    margin: auto;
}

div{
    margin: 100px;
}

